.idea/
*.xml
*.iml

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Temporary files
*.tmp
*.temp
/tmp/

# Logs
*.log

# Environment variables
.env
.venv
env/
venv/